* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #3a7bd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #16bffd,
    #cb3066
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #16bffd,
    #cb3066
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.aligncen {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1200px) {
  .aligncen {
    margin-left: 38%;
  }
}
